.navbar {
  background-color: #ffd2d2;
  position: fixed;
  padding: 10px;
  text-align: center;
  width: 100%;
  top: 0;
  height: 200px;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo-container {
  flex: 1; 
}

.title {
  margin: 0;
}

button {
  background-color: #ffd2d2;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fa405c;
}

button:hover {
  text-decoration: underline;
}
